*{
    margin: 0;
    padding: 0;
}
body{
    align-content: center;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    background-image: linear-gradient(125deg,rgb(75, 56, 129),rgb(57, 32, 146),rgb(58, 89, 192),rgb(151, 159, 226),rgb(233, 202, 190));
    background-size: 440%;
    animation: bganimation 25s infinite;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 86% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.title{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 5rem;
    /* max-width: 1300px; */


    /* 字体设置start */
    color: rgb(207, 172, 172);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 6px 3px black;
    text-transform: uppercase;
    letter-spacing: 1vw;
    line-height: 5rem;
    /* 字体设置end */
    
    /* 边框start */
    border: 10px solid #000;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 13px 28px #6b3030;
    /* 边框end */
}


.guide{
    left: 7px;
    padding: 10px 10px;

    position: fixed;
    z-index: 1000;
    top: -205px;
    /* left: 1vw; */
    align-self: auto ;
    text-align: center;

    /* 字体设置start */
    line-height: 4rem;
    text-decoration: wavy;
    font-size: 20px;
    color: rgb(255, 255, 246);
    /* 字体设置end */
    float: left;
    border: 5px solid rgb(255, 255, 255);
    border-style: dashed ;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* padding: 3vh 3vw; */
    width: fit-content;
    height: fit-content;
    background-image: repeating-linear-gradient(5deg,#000000,rgb(22, 22, 22));
    opacity: .5;
    transition: .5s;
}

.guide:hover {
    top: 40px;
    /* color:transparent; */
    opacity: 1;
}
.tag{
    position: absolute;
    top: 0;
    margin-top: 1vh;
    border: solid #000;
    width: 25vw;
    height: 60px;
    transform: translate(-20%,-80%);
    border-radius: 5vh;
    background-color:#ffffff ;
}
.tag p{
    position: absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.7rem;
    /* font-size: 10px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(77, 77, 77);
}
@media screen and (min-width:1200px){
    .guide{
        position: fixed;
        top:250px;
        left:-190px;
        align-self: auto ;
        text-align: center;
        padding-left: 0%;
        /* 字体设置start */
        line-height: 4rem;
        text-decoration: wavy;
        font-size: 18px;
        color: rgb(255, 255, 246);
        /* 字体设置end */
        float: left;
        width: 300px;
        height: 200px;
        border: 5px solid rgb(255, 255, 255);
        border-style: dashed ;
        border-radius:200px;
        /* padding: 3vh 3vw; */
        
        background-image: linear-gradient(60deg,rgb(22, 22, 22),rgb(12, 12, 12),#000000);
        opacity: .5;
        transition: .5s;
    }
    .guide:hover {
        top:250px;
        left: 3vw;
        opacity: 1;
        /* width: 150px;
        height: 280px;
        border-top-right-radius: 1rem; */
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        /* border-bottom-right-radius:1rem; */
        font-size:20px;
    }
    .guide h2 {
        transform: translate(28%,-200%);
    }
    .content {
        transform: translate(-16%,0%);
    }
}
@media screen and (max-width:1100px){
    .tag{
        width: 350px;
    }
    .title{
        margin-top: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
         /* 字体设置start */
        letter-spacing: 8px;
        /* 字体设置end */
        /* 边框start */
        border: 15px solid #000;
        border-bottom-style: dashed;
        border-left-style: dashed;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
        border-top-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        /* 边框end */
    }
    
}
@media screen and (max-width:1400px) and (min-width:1100px){
    .tag{
        width: 350px;
    }
    
}

.paper{
    align-content: center;
    text-align: center;
    /* float: right; */
    padding: 3vh 5vw;
    border: 5px solid#000;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1.5rem;
    background-color: ivory;
    /* width: 55%; */
    /* max-width: 1000px;
    min-width: 500px; */
    box-shadow: 0 13px 28px #ffffff;
    /* 边框end */
    /* 字体start */
    color: rgb(51, 51, 51);
    /* 字体end */
    transform: translate(-10%,9%);
}

.introduction{
    opacity: .8;

    /* 边框start */
    margin-top: 60px;
    margin-right: 5%;
    margin-left: auto;
    padding: 0vh 0vw;
    align-content: center;
    text-align: center;
    float: right;
    border: 5px solid#000;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 2rem;
    width: 55%;
    max-width: 1000px;
    min-width: 520px;
    box-shadow: 0 13px 28px  #ffffff;
    /* 边框end */
    /* 字体start */
    color: rgb(51, 51, 51);
    /* 字体end */
}
.essay{
    position: relative;
    opacity: .8;
    /* 外框背景设置start */
    margin-top: 100px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 60px 40px;
    align-content: center;
    text-align: center;
    float: left;
    border: 5px solid#000;
    /* border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 1rem; */
    border-bottom-right-radius: 2rem;
    background-color: ivory;
    width: 70%;
    min-height: 500px;
    /* max-width: 1300px;
    min-width: 750px; */
    /* 外框背景设置end */
    /* 字体start */
    color: rgb(51, 51, 51);
    /* 字体end */
}
.demo{
    position: relative;
    opacity: .8;
    /* 外框背景设置start */
    margin-top: 100px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 60px 40px;
    align-content: center;
    justify-content: center;
    text-align: center;
    float: left;
    border: 5px solid#000;
    /* border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 1rem; */
    border-bottom-right-radius: 2rem;
    background-color: ivory;
    width: 70%;
    /* max-width: 1300px;
    min-width: 750px; */
    /* 外框背景设置end */
}
.marks{
    margin: auto;
    align-content: space-between;

}
.interaction{
    position: relative;
    opacity: .8;
    /* 外框背景设置start */
    margin-top: 100px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 60px 40px;
    align-content: center;
    justify-content: center;
    text-align: center;
    float: left;
    border: 5px solid#000;
    /* border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 1rem; */
    border-bottom-right-radius: 2rem;
    background-color: ivory;
    width: 70%;
    /* max-width: 1300px;
    min-width: 750px; */
    /* 外框背景设置end */
}


.videobutton{
    cursor: pointer;
    margin: 20px 50px;
    width: 5rem;
    height: 3rem;
    border-radius: 1.5rem;
    border:  solid rgb(123, 84, 151);
    background-image: linear-gradient(125deg,rgb(75, 56, 129),rgb(57, 32, 146),rgb(58, 89, 192),rgb(151, 159, 226),rgb(233, 202, 190));
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#allmap
{
    width: 80%;
    margin-left: 10% ;
    /* max-width: 900px; */
    height: 500px;
    box-shadow: 0 10px 22px #384661;
}
#result
{
    width: 100%;
    margin-top: 5px;

}
#result textarea{
    margin: 0px;
    border: 0rem;
    height: 1.5rem;
    text-align: center;
    color: midnightblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 1.5rem;
    border-bottom: 1px solid rgb(158, 158, 158);
    background-color: rgba(255, 255, 255, 0);

}
#result input{
    cursor: pointer;
    margin: auto;
    padding: .5rem ;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
    height: 2rem;
    border: 0rem;
    border-top: 2px solid rgb(24, 74, 167);
    border-left: 1px solid rgb(7, 48, 124);
    border-radius: 4px;
    box-shadow: 0 3px 8px #797979fa;
    background-image: linear-gradient(0deg,rgb(0,0,0),rgb(26, 29, 71),rgb(30, 30, 153),rgb(92, 92, 202),rgb(214, 222, 255)) ;
    color: white;
}
#result input:disabled{
    cursor: initial;
    background-image: linear-gradient(0deg,rgb(214, 222, 255),rgb(92, 92, 202),rgb(30, 30, 153),rgb(26, 29, 71),rgb(0,0,0)) ;
    color: rgb(0, 0, 0);
    border-top: 0px ;
    border-left: 0px ;
    border-bottom: 2px solid rgb(24, 74, 167);
    border-right: 1px solid rgb(7, 48, 124);
    box-shadow: 0 0px 0px #797979fa;
}